/* * {
  border: 1px solid black;
} */

.banner {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  font-family: "Indie Flower", cursive;
  font-size: 2em;
  text-align: center;
  color: darkviolet;
  width: 30%;
}


body {
  background-color: #494949;
}


.starry {
  height: 47vh;
  width: 95vw;
}



.card-container {
    display: block;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 50;
    margin: auto;
}
.card {
border: 1px solid black;
height: 35vh;
width: 25vw;
margin: 1em;
padding: 1em;
/* align-items: center; */
}


